@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Slabo+27px&display=swap");
:root {
  --navy:#171B3E;
  --blue:#6CD4FF;
  --blue-hover:#ace6ff;
  --background:#eaf5ff;
  --border-radius:20px;
  --box-shadow:0px 0px 10px -5px #171B3E;
}

body, html {
  margin: 0;
  color: var(--navy);
  font-family: "Slabo 27px", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

h1 {
  font-family: "Alfa Slab One", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.containter {
  width: 1000px;
  padding: 5px 15px;
}

.containter-fluid {
  width: 100%;
  padding: 5px 15px;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-baseline {
  justify-content: baseline;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-space-around {
  align-items: space-around;
}

.align-items-space-between {
  align-items: space-between;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-right-10px {
  margin-right: 10px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-left-20px {
  margin-left: 20px;
}

.margin-right-20px {
  margin-right: 20px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.margin-left-30px {
  margin-left: 30px;
}

.margin-right-30px {
  margin-right: 30px;
}

.margin-top-40px {
  margin-top: 40px;
}

.margin-bottom-40px {
  margin-bottom: 40px;
}

.margin-left-40px {
  margin-left: 40px;
}

.margin-right-40px {
  margin-right: 40px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-bottom-50px {
  margin-bottom: 50px;
}

.margin-left-50px {
  margin-left: 50px;
}

.margin-right-50px {
  margin-right: 50px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-right-10px {
  padding-right: 10px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

.padding-left-20px {
  padding-left: 20px;
}

.padding-right-20px {
  padding-right: 20px;
}

.padding-top-30px {
  padding-top: 30px;
}

.padding-bottom-30px {
  padding-bottom: 30px;
}

.padding-left-30px {
  padding-left: 30px;
}

.padding-right-30px {
  padding-right: 30px;
}

.padding-top-40px {
  padding-top: 40px;
}

.padding-bottom-40px {
  padding-bottom: 40px;
}

.padding-left-40px {
  padding-left: 40px;
}

.padding-right-40px {
  padding-right: 40px;
}

.padding-top-50px {
  padding-top: 50px;
}

.padding-bottom-50px {
  padding-bottom: 50px;
}

.padding-left-50px {
  padding-left: 50px;
}

.padding-right-50px {
  padding-right: 50px;
}

nav {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}
nav + section {
  margin-top: 75px;
}
nav .links {
  margin-right: 25px;
}
nav .links a {
  overflow: none;
  text-decoration: none;
  padding: 10px;
  opacity: 0.6;
  margin-left: 5px;
  color: var(--navy);
}
nav .links a:visited {
  color: var(--navy);
}
nav .links a:hover {
  background-color: var(--blue-hover);
}
nav .links a.active {
  background-color: var(--blue);
}
nav .relative {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
nav .relative:hover .dropdown-menu {
  display: flex;
}
nav .dropdown-menu {
  position: absolute;
  display: none;
  top: 30px;
  width: calc(100% - 5px);
  margin-left: 5px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
nav .dropdown-menu .dropdown-link {
  padding-right: 0;
  padding-left: 0;
  background-color: var(--background);
  margin: 0;
  width: 100%;
  border-radius: 0;
  opacity: 1;
}
nav .dropdown-menu .dropdown-link span {
  padding: 10px;
}
nav .dropdown-menu .dropdown-link:last-child {
  border-radius: 0 0 10px 10px;
}
nav .dropdown-menu .dropdown-link:last-child:hover {
  border-radius: 0;
}
nav img {
  padding: 5px 25px;
  width: 65px;
}
nav.scrolling {
  transition: all 0.3s ease-in-out;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
}

.ALeftToRight {
  transition: all 0.3s ease-in;
  font-weight: bold;
  position: relative;
  border-radius: 10px;
}
.ALeftToRight .absolute {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.ALeftToRight .absolute hr {
  background: var(--navy);
  width: 0%;
  float: right;
  height: 2px;
  border: none;
  transition: width 0.2s ease-in;
}
.ALeftToRight:visited {
  color: var(--navy);
}
.ALeftToRight:hover {
  background-color: var(--blue);
  opacity: 1;
  transition: all 0.2s ease-in-out;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ALeftToRight:hover hr {
  width: 100%;
  float: left;
  transition: width 0.2s ease-in;
}
.ALeftToRight.active {
  opacity: 1;
  background-color: var(--blue);
}

.main {
  height: calc(100vh + 20px);
}
.main h1 {
  z-index: 2;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
}
.main .video {
  position: absolute;
  width: 100vw;
  height: calc(100vh + 20px);
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main .video video {
  background-position: center;
  min-height: calc(100vh + 20px);
  min-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .video .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.main + section {
  position: relative;
  top: -20px;
  border-radius: var(--border-radius);
}
.main + section h1 {
  margin-top: 0;
}

section {
  background-color: white;
}

.container {
  width: 1000px;
  padding: 15px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
table thead tr {
  margin: 0;
  color: var(--background);
}
table thead tr th {
  padding: 20px;
  background-color: var(--background);
  color: var(--navy);
  border-top: 2px solid var(--navy);
  border-bottom: 15px solid var(--navy);
}
table thead tr th:first-child {
  border-left: 2px solid var(--navy);
  border-radius: 20px 0px 0px 0;
}
table thead tr th:last-child {
  border-right: 2px solid var(--navy);
  border-radius: 0 20px 0px 0;
}
table tr td {
  width: 350px;
  transition: all 0.2s ease-in-out;
  padding: 0;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 15px;
}
table tr td img {
  aspect-ratio: 16/9;
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
table tr td:first-child {
  padding: 0;
  border-left: 2px solid var(--navy);
}
table tr td:last-child {
  border-right: 2px solid var(--navy);
}
table tr .tarif {
  min-width: 50px;
}
table tr .circuit {
  max-width: 300px;
  text-align: justify;
}
table tr button {
  outline: 0;
  border: none;
  background-color: var(--navy);
  color: var(--background);
  overflow: none;
  text-decoration: none;
  padding: 9px;
  opacity: 0.85;
}
table tr button:hover {
  cursor: pointer;
  background-color: var(--navy);
}
table tr .ALeftToRight hr {
  background-color: var(--blue);
}
table tr .ALeftToRight:hover {
  color: var(--navy);
}
table tr:hover td {
  background-color: var(--background) !important;
}
table tr:nth-child(even) td {
  background-color: rgba(117, 172, 255, 0.3137254902);
}/*# sourceMappingURL=style.css.map */